/* +++++++++++++++++++++++++++ Inicio imports +++++++++++++++++++++++++++ */

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Special+Gothic+Expanded+One&display=swap');
/* +++++++++++++++++++++++++++ Final imports +++++++++++++++++++++++++++ */

:root {
    --bg_color: #F5F3E7;
    --text_color: #222222;
    --secondary_color: #0051FF;
    --attention_color: #FFF171;
}

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg_color);
}

h1,
h2,
h3,
h4,
p,
li,
a {
    color: var(--text_color);
}

h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    letter-spacing: 1px;
}

p,
li,
a,
button {
    font-family: "Inter", sans-serif;
    letter-spacing: .5px;
}

h2,
h3,
h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}