.About--grid {
    margin: 2% 9%;
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 1fr;
    gap: 0px 3%;
    grid-auto-flow: row;
    grid-template-areas:
        "About__image About_description";
}

.About__image {
    grid-area: About__image;
}

.About__image img {
    border-radius: 30px;
}

.About__description {
    grid-area: About_description;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "About__introduction"
        "About__GetinT";
    grid-area: About_description;
}

.Introduction__container {
    padding: 0px 25px 15px 25px;
    border: 1px solid var(--text_color);
    border-radius: 25px;
}

.Introduction__container--grid {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 0px 50px;
    grid-template-areas:
        ". .";
    grid-area: Introduction__container--grid;
    justify-items: stretch;
}

.Introduction__container--grid img {
    padding-bottom: 10px;
    transform: scaleX(-1) translateY(-10px);
}

.Introduction__container--grid p {
    text-align: justify;
}

.About__GetinT--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 30px;
    grid-template-areas:
        ". . .";
    grid-area: About__GetinT--grid;
}

.GetinT__Github,
.GetinT__Linkedin,
.GetinT__Mail {
    border-radius: 25px;
    padding: 10px;
}

.GetinT__Github img,
.GetinT__Linkedin img,
.GetinT__Mail img {
    margin-bottom: 10%;
}

.GetinT__Github p,
.GetinT__Linkedin p,
.GetinT__Mail p {
    font-size: small;
    text-align: end;
    padding: 0 20px;
}

.GetinT__Linkedin p,
.GetinT__Mail p {
    color: var(--bg_color)
}

.GetinT__Github {
    border: 1px solid var(--text_color);
}

.GetinT__Linkedin {
    background-color: var(--secondary_color);
}

.GetinT__Mail {
    background-color: var(--text_color);
}

/* Linea con bolas clara */

.linea-con-bolas {
    position: relative;
    width: 95%;
    /* ancho de la línea */
    height: 1px;
    margin: 0 auto 10px auto;
    background: #ececec;
    /* color de la línea */
}

.linea-con-bolas::before,
.linea-con-bolas::after {
    content: "";
    position: absolute;
    top: 15%;
    transform: translateY(-59%);
    width: 5px;
    height: 5px;
    background: #ececec;
    border-radius: 50%;
}

/* Linea con bolas oscura */

.linea-con-bolas::before {
    left: 0;
}

.linea-con-bolas::after {
    right: 0;
}

.linea-con-bolasB {
    position: relative;
    width: 95%;
    /* ancho de la línea */
    height: 1px;
    margin: 0 auto;
    background: var(--text_color);
    /* color de la línea */
}

.linea-con-bolasB::before,
.linea-con-bolasB::after {
    content: "";
    position: absolute;
    top: 15%;
    transform: translateY(-49%);
    width: 5px;
    height: 5px;
    background: var(--text_color);
    border-radius: 50%;
}

.linea-con-bolas::before {
    left: 0;
}

.linea-con-bolasB::after {
    right: 0;
}