.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 9%;
    border-bottom: 1px solid var(--border_colorLight);
}

.header h1 {
    padding-left: 20px;
}

.header ul {
    display: flex;
}

.header ul li {
    margin: 0 10px;
    padding-right: 20px;
    list-style: none;
}